.xiangqing {
  padding-bottom: 50px;

  &-swipe {
    img {
      width: 100%;
      height: 400px;
      display: block;
    }
  }

  &-title {
    font-size: 16px;
  }

  &-price {
    color: #f44;
  }

  &-express {
    color: #999;
    font-size: 12px;
    padding: 5px 15px;
  }

  &-cell-group {
    margin: 15px 0;

    .van-cell__value {
      color: #999;
    }
  }

  &-tag {
    margin-left: 5px;
  }
}

.van-hairline--bottom::after {
  border: 0;
}

.pinglun {
  display: flex;
  justify-content: space-between;
}
.SC {
  color: #ffd914;
}
